{% comment %}
Used by Djoser when a user requests a password reset.

Triggered by:
POST /auth/users/reset_password/

The link points to the shared frontend login page, using:
/login?action=reset-password&uid=<uid>&token=<token>

Context variables provided by Djoser:
    user
    site_name
    protocol
    domain
    url
{% endcomment %}

{% block subject %}
Reset your {{ site_name }} password
{% endblock subject %}

{% block text_body %}
Hello {{ user.get_full_name|default:user.email }},

You requested a password reset for your {{ site_name }} account.

Reset your password using the link below:

{{ protocol }}://{{ domain }}/{{ url }}

If you did not request this, you can ignore this email.
{% endblock text_body %}

{% block html_body %}
<p>Hello {{ user.get_full_name|default:user.email }},</p>

<p>You requested a password reset for your {{ site_name }} account.</p>

<p>
{{ protocol }}://{{ domain }}/{{ url }}
</p>

<p>If you did not request this, you can ignore this email.</p>
{% endblock html_body %}